.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        max-width: 110px;
        padding: 1rem;
        border-radius: 4px;
        background: aliceblue;
    }

    a {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
        text-decoration: none;
        color: var(--btn-text-color);
    }
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 8px;
}

.projectCard {
    width: calc(100dvh - 3px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.projectDetails {
    width: calc(100vw - 10%);
    text-align: center;
    padding: 1rem;

    p {
        font-size: 14px;
        padding: 10px 0 15px;
    }

    span {
        color: var(--text-color);
        padding: 3px;
        border-radius: 4px;
        border: 1px solid;
    }
}

.techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1rem;
    justify-content: center;
}

@media (width >=800px) {
    .projectCard {
        flex-flow: wrap;
        justify-content: space-between;
    }

    .projectDetails {
        width: 50%;
        text-align: left;

        a {
            justify-content: normal;
        }
    }

    .techStack {
        justify-content: start;
    }
}

@media (width <=450px) {
    .projectCard {
        flex-flow: column;
    }

    .projectDetails {
        width: calc(100vw - 10%);
    }
}