.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 20px;
    }
}

.skillList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
    padding: 0.5rem;

    span {
        border: 1px solid var(--border-color);
        background: var(--skill-bg);
        padding: 0.8rem;
        border-radius: 0.8rem;
        transition: transform 200ms ease-in-out;

    }

    svg {
        font-size: 2.5rem;
        color: var(--footer-text-color);
    }

    svg:hover {
        color: var(--yellow);
    }
}

hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}

@media (width >=800px) {
    .skillList {
        max-width: calc(100dvh - 0.6%);
        gap: 30px;

        p {
            font-size: 20px;
        }

    }

    hr {
        width: 300px;
    }
}